%h2.page-header Business Listing
- @businesses.each do |business|
  %ul
    %li
      = link_to business.name, business
    %label Business Type:
    = business.category_name
    %label Yelp Rating:
    4.8/5
    %br
    - if business.has_review?
      %label Last Review:
      #{time_format(business.last_review_time)} by
      %span= link_to business.last_review_user_name, business.last_review_user
