%h2.page-header Business Listing
- @businesses.each do |business|
  %ul
    %li
      = link_to business.name, business
    %label Business Type:
    = business.category_name
    %label Yawp Rating:
    4.8/5
    %br
    %label Last Review:
    September 30, 2015 by
    %span= link_to "Alex Yang"
