.main-header.main-content-wrap.js-main-header.main-header--slim
  .content-container.clearfix
    .arrange.arrange--18.main-header_arrange.arrange--middle
      .arrange_unit.main-header--full_arrange_unit
        %h1#logo.main-header_logo
          %a{:href => "/"} Yelp
      .arrange_unit.nowrap.arrange_unit--fill
        %h2.main-header_title
          %span for Business Owners
      .arrange_unit.nowrap
        .main-header_account.webview-hidden
          %ul.header-nav
            %li.header-nav_item.responsive-hidden-small
              %a#header-sign-up.ybtn.ybtn-primary.main-header_button.header-nav_button--sign-up{:href => "/"} Sign Up
            %li.header-nav_item.text-centered
              %a.header-nav_link.header-nav_link--log-in{:href => "/login?return_url=/signup_business/new"}
                Log In
