%div.jumbotron
  %h2#brand-font Yawp. An easy way to find quality businesses and services in your area.
  %p{:style => "text-align: center"}
    = link_to "Sign Up Now!"
  %div{:style => "text-align: center"}
    Have an account? Please
    = link_to "Sign In"
