%h2.page-header Recent Reviews
- 5.times do
  .well.container
    %label Business:
    =link_to "John's Auto Repair", nil
    %br
    %label Review Date:
    September 20, 2015
    %br
    %label Rating:
    5 / 5
    %br
    %label Review:
    %p I went to see John a couple of months ago when my car started to fall apart.  The service was fantastic and the price was very reasonable.  Everything went exactly the way I had hoped and I would definitely recommend going here for all of your car servicing needs.
